@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Sedgwick+Ave+Display&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr 60px;
}

.show-time {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.start-timer {
    background-color: rgb(9, 226, 9);
    border: none;
    margin: 4px;
    text-align: center;
    cursor: pointer;
    grid-column: 2/3;
    border-radius: 0.6em;
}

.start-timer:active {
    background-color: rgb(4, 107, 4);
}

.tablo {
    color: black;
    padding-left: 120px;
    padding-top: 3px;
    font-size: 1.6em;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(214, 207, 207);
}

.footer {
    background-color: rgb(214, 207, 207);
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 2fr 1fr 1fr;
}

.button {
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.6em;
}

.button:active {
    background-color: rgb(105, 108, 105);
}

.one {
    grid-column: 2/3;
    border: 0;
}

.two {
    grid-column: 3/4;
    border: 0;
}

.download-box {
    grid-column: 5/6;
    margin: 0;
    padding: 0;
    display: flex;
}

.savebtn-box {
    grid-column: 6/7;
    margin: 0;
    padding: 0;
    display: flex;
}

.save-btn1,
.save-btn3,
.downL-btn1,
.downL-btn3 {
    flex: 1;
    background-color: rgb(9, 226, 9);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 0.6em;
}

.save-btn1:active,
.save-btn3:active,
.downL-btn1:active,
.downL-btn3:active {
    background-color: rgb(4, 107, 4);
}

p {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(243, 234, 234);
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.place {
    border: 2px solid black;
    border-radius: 21px;
}

#place1 {
    border: none;
    margin-right: 100px;
}

#place3 {
    border: none;
    margin-right: 100px;
}

#place1:focus {
    outline: none;
}

#place3:focus {
    outline: none;
}

.count {
    color: none;
    display: none;
}

.count2 {
    text-align: center;
    padding-top: 10px;
    grid-column: 5/6;
}

textarea {
    resize: none;
    padding: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.start-timer:hover,
.button:hover,
.save-btn1:hover,
.save-btn3:hover,
.downL-btn1:hover,
.downL-btn3:hover {
    opacity: 0.5;
}